<div class="contact">
    <div class="contact-link">
        <div class="link-redes">
            <h4>
                Me siga no Instagram <br>
                Abra a camera do seu celular. <br>
                Aponte para este Qr Code, click no botao obturador para acessar meu insta.
            </h4>
            <img src="../../../assets/img/liniker_desenvolvedor_sistemas_qr.png">
            <a href="https://google.com.br">Facebook</a>
            <a href="https://google.com.br">Discord</a>
        </div>
    </div>
</div>